/* .container  {
  	border:solid green 1px;
  	
} */
/* div,nav {
 	  	border:solid black 1px;
 	 	box-sizing: border-box;
} */ 	

/* .header-botline {
	border:solid yellow 2px;
} */
/* img {
	border:solid black 1px;
} */
