.menu-main li {
    float: right;
    margin-right: 6px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    color: #ffffff;
    font-family: "LatoBold";
}
.menu-main li:nth-child(even) { 
	color: #808080;
}
.menu-main li:hover {
    color: #eb5055;
}
 
/*----------qet-a-quote-form------------*/
input[type="text"], input[type="submit"]  {
    color: #ee8386;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
    background: #ca4549;
    border-radius: 5px;
    border: 0;
    width: 95%;
    height: 30px;
}
textarea {
    color: #ee8386;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
    background: #ca4549;
    border-radius: 5px;
    border: 0;
    width: 94.5%;
    height: 245px;
}
/*--------portfolio-------------*/
.potfolio-menu li {
    display: inline-block;
    margin: 0 0 8px 8px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid;   
}
.potfolio-menu li:hover {
	border:1px solid #ffffff;
	color: #ffffff;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.flex-item { 
  padding: 18px;
}
/*-------------about-us-----*/
.img-size {
	width: 90%;
}
.margin-auto {
	margin-left: 9%;
} 
/*-------------------------*/